<footer class="footer bg-dark py-5 mt-auto">
    <div class="container">
        <span class="text-muted">&copyYelp-Camp</span>
    </div>
</footer>

<!-- https://source.unsplash.com/collection/collection-id -->